# Central Corpscout Postgres server. Databases and role are provisioned by
# /Users/graovic/pulsarpoint/ppoint/corpscout_db.
POSTGRES_HOST=companycollect
POSTGRES_HOST_IP=100.85.212.113
POSTGRES_PORT=5432

TEMPORAL_DB=temporal
TEMPORAL_VISIBILITY_DB=temporal_visibility
TEMPORAL_USER=temporal
TEMPORAL_PASSWORD=change-me

# Temporal ports on the host.
TEMPORAL_GRPC_PORT=7233
TEMPORAL_UI_PORT=8089
